* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    direction: rtl;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

body {
    direction: rtl;
}

a {
    font-size: large;
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #f6b60b;
    background-color: transparent;
    text-decoration: none;
    font-size: large;
}

.projectIcon .fa:hover {
    transform: scale(1.5);
    color: #f6b60b;
    transition: width 2s, height 2s, transform 2s;
}

li {
    list-style: none;
}

.welcome {
    color: #f6b60b;
    font-size: 40px;
    visibility: visible;
    animation-delay: 0.8s;
    animation-name: fadeInUp;
    margin-top: 10%;
}

.tite1 {
    color: white;
    font-size: 40px;
    visibility: visible;
    animation-delay: 0.8s;
    animation-name: fadeInUp;
}

.tite2 {
    color: white;
    direction: rtl;
    margin-top: 50px;
    visibility: visible;
    animation-delay: 0.8s;
    animation-name: fadeInUp;
}

.ico {
    color: #f6b60b;
    font-size: 48px;
}

.ico3 {
    color: #f6b60b;
    font-size: 48px;
}

.ico1 {
    color: #f6b60b;
    font-size: 48px;
}

.ico2 {
    color: #f6b60b;
    font-size: 48px;
}

.aboutUs {
    direction: rtl;
    width: 100%;
    height: 800px;
}

.aboutUsTite {
    margin-top: -1px;
    color: #222222;
    margin-bottom: 25px;
    font: 400 40px "Oswald", sans-serif;
}

.lineOrange {
    margin-top: 15px;
    height: 5px;
    width: 60px;
    background: #f6b60b;
    margin: auto;
}

.aboutUs-cd {
    margin-right: 609px;
    margin-left: 76px;
    min-height: 460px;
}

.aboutUs-lineTite {
    align-items: center;
    color: #222222;
}

.lineBlack {
    height: 2px;
    width: 90px;
    background: #222222;
}

.button-contactNow {
    background: #f6b60b;
    width: 150px;
    height: 55px;
    text-align: center;
    font-size: xx-large;
    margin-top: 55px;
}

.whatWeOffer {
    min-height: 650px;
    width: 100%;
    background: #f6b60b;
    padding-top: 100px;
    height: 800px;
}

.whiteLine {
    margin-top: 15px;
    height: 5px;
    width: 60px;
    background: white;
    margin: auto;
}

.project {
    background: #f6b60b;
    height: 362px;
}

.cnsTite {
    margin-top: 35px;
    max-width: 360px;
    text-align: center;
    background-color: white;
    height: 170px;
    margin-top: 0px;
    color: #555555;
    padding-top: 50px;
}

.projectIcon {
    width: 70px;
    height: 70px;
    background: #333333;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    margin-block-start: -38px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-left: 40%;
}

.contactUs {
    padding-top: 100px;
    height: 800px;
    width: 100%;
}

.contactUsTite {
    margin-top: -1px;
    color: #222222;
    font: 400 40px "Oswald", sans-serif;
    margin-bottom: 25px;
}

.lineOrange2 {
    height: 8px;
    width: 80px;
    background: #f6b60b;
}

.contactUsInput {
    padding-right: 5px;
    height: 30px;
    margin-bottom: 10px;
    background: #f1f1f1;
    border-style: hidden;
}

.comment {
    padding-right: 5px;
    height: 140px;
    margin-bottom: 10px;
    background: #f1f1f1;
    border-style: hidden;
    padding-bottom: 90px;
}